In [1]:
print("Hello, World!")
name = input("Enter your name: ")
print("Hi,", name)

Hello, World!
Enter your name: ammu
Hi, ammu

In [4]:
age = 25
height = 5.6
name = "Athulya"
is_student = True

print(type(is_student))

<class 'bool'>

In [5]:
a = 10
b = 3
print(a + b)
print(a - b)
print(a * b)
print(a / b)
print(a % b)
print(a ** b)

13
7
30
3.3333333333333335
1
1000

In [6]:
num = 7
if num % 2 == 0:
    print("Even")
else:
    print("Odd")

Odd

In [3]:
age = 25
height = 5.6
name = "Athulya"
is_student = True

print(type(name))

<class 'str'>

In [7]:
x = 18
if x >= 18:
    print("You are an adult")
else:
    print("You are a minor")

You are an adult

In [9]:
for i in range(5):
    print(i)

0
1
2
3
4

In [12]:
x = 0
while x < 5:
    print(x)
    x += 1

0
1
2
3
4

In [13]:
person = {"name": "Athulya", "age": 23, "city": "Kochi"}
print(person["name"])
person["age"] = 24
print(person)

Athulya
{'name': 'Athulya', 'age': 24, 'city': 'Kochi'}